Source : https://www.kaggle.com/datasets/abhinav89/telecom-customer

In [22]:
import pandas as pd
import numpy as np
pd.set_option(max_col=None)

ValueError: Must provide an even number of non-keyword arguments

In [2]:
df = pd.read_csv('/Users/danielbeltsazar/DS-ML-DL Mini Projects/Exploring/Classification/Customer Churn/Telecom_customer churn.csv')

df.head()

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,Customer_ID
0,23.9975,219.25,22.500,0.2475,0.00,0.0,0.0,0.0,0.0,-157.25,...,0.0,N,U,U,U,U,U,Y,361.0,1000001
1,57.4925,482.75,37.425,0.2475,22.75,9.1,9.1,0.0,0.0,532.25,...,0.0,Z,U,U,U,U,U,Y,240.0,1000002
2,16.9900,10.25,16.990,0.0000,0.00,0.0,0.0,0.0,0.0,-4.25,...,0.0,N,U,Y,U,U,U,Y,1504.0,1000003
3,38.0000,7.50,38.000,0.0000,0.00,0.0,0.0,0.0,0.0,-1.50,...,0.0,U,Y,U,U,U,U,Y,1812.0,1000004
4,55.2300,570.50,71.980,0.0000,0.00,0.0,0.0,0.0,0.0,38.50,...,0.0,I,U,U,U,U,U,Y,434.0,1000005

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 100 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   rev_Mean          99643 non-null   float64
 1   mou_Mean          99643 non-null   float64
 2   totmrc_Mean       99643 non-null   float64
 3   da_Mean           99643 non-null   float64
 4   ovrmou_Mean       99643 non-null   float64
 5   ovrrev_Mean       99643 non-null   float64
 6   vceovr_Mean       99643 non-null   float64
 7   datovr_Mean       99643 non-null   float64
 8   roam_Mean         99643 non-null   float64
 9   change_mou        99109 non-null   float64
 10  change_rev        99109 non-null   float64
 11  drop_vce_Mean     100000 non-null  float64
 12  drop_dat_Mean     100000 non-null  float64
 13  blck_vce_Mean     100000 non-null  float64
 14  blck_dat_Mean     100000 non-null  float64
 15  unan_vce_Mean     100000 non-null  float64
 16  unan_dat_Mean     100000 non-null  float64
 17  plcd_vce_Mean     100000 non-null  float64
 18  plcd_dat_Mean     100000 non-null  float64
 19  recv_vce_Mean     100000 non-null  float64
 20  recv_sms_Mean     100000 non-null  float64
 21  comp_vce_Mean     100000 non-null  float64
 22  comp_dat_Mean     100000 non-null  float64
 23  custcare_Mean     100000 non-null  float64
 24  ccrndmou_Mean     100000 non-null  float64
 25  cc_mou_Mean       100000 non-null  float64
 26  inonemin_Mean     100000 non-null  float64
 27  threeway_Mean     100000 non-null  float64
 28  mou_cvce_Mean     100000 non-null  float64
 29  mou_cdat_Mean     100000 non-null  float64
 30  mou_rvce_Mean     100000 non-null  float64
 31  owylis_vce_Mean   100000 non-null  float64
 32  mouowylisv_Mean   100000 non-null  float64
 33  iwylis_vce_Mean   100000 non-null  float64
 34  mouiwylisv_Mean   100000 non-null  float64
 35  peak_vce_Mean     100000 non-null  float64
 36  peak_dat_Mean     100000 non-null  float64
 37  mou_peav_Mean     100000 non-null  float64
 38  mou_pead_Mean     100000 non-null  float64
 39  opk_vce_Mean      100000 non-null  float64
 40  opk_dat_Mean      100000 non-null  float64
 41  mou_opkv_Mean     100000 non-null  float64
 42  mou_opkd_Mean     100000 non-null  float64
 43  drop_blk_Mean     100000 non-null  float64
 44  attempt_Mean      100000 non-null  float64
 45  complete_Mean     100000 non-null  float64
 46  callfwdv_Mean     100000 non-null  float64
 47  callwait_Mean     100000 non-null  float64
 48  churn             100000 non-null  int64
 49  months            100000 non-null  int64
 50  uniqsubs          100000 non-null  int64
 51  actvsubs          100000 non-null  int64
 52  new_cell          100000 non-null  object
 53  crclscod          100000 non-null  object
 54  asl_flag          100000 non-null  object
 55  totcalls          100000 non-null  int64
 56  totmou            100000 non-null  float64
 57  totrev            100000 non-null  float64
 58  adjrev            100000 non-null  float64
 59  adjmou            100000 non-null  float64
 60  adjqty            100000 non-null  int64
 61  avgrev            100000 non-null  float64
 62  avgmou            100000 non-null  float64
 63  avgqty            100000 non-null  float64
 64  avg3mou           100000 non-null  int64
 65  avg3qty           100000 non-null  int64
 66  avg3rev           100000 non-null  int64
 67  avg6mou           97161 non-null   float64
 68  avg6qty           97161 non-null   float64
 69  avg6rev           97161 non-null   float64
 70  prizm_social_one  92612 non-null   object
 71  area              99960 non-null   object
 72  dualband          99999 non-null   object
 73  refurb_new        99999 non-null   object
 74  hnd_price         99153 non-null   float64
 75  phones            99999 non-null   float64
 76  models            99999 non-null   float64
 77  hnd_webcap        89811 non-null   object
 78  truck             98268 non-null   float64
 79  rv                98268 non-null   float64
 80  ownrent           66294 non-null   object
 81  lor               69810 non-null   float64
 82  dwlltype          68091 non-null   object
 83  marital           98268 non-null   object
 84  adults            76981 non-null   float64
 85  infobase          77921 non-null   object
 86  income            74564 non-null   float64
 87  numbcars          50634 non-null   float64
 88  HHstatin          62077 non-null   object
 89  dwllsize          61692 non-null   object
 90  forgntvl          98268 non-null   float64
 91  ethnic            98268 non-null   object
 92  kid0_2            98268 non-null   object
 93  kid3_5            98268 non-null   object
 94  kid6_10           98268 non-null   object
 95  kid11_15          98268 non-null   object
 96  kid16_17          98268 non-null   object
 97  creditcd          98268 non-null   object
 98  eqpdays           99999 non-null   float64
 99  Customer_ID       100000 non-null  int64
dtypes: float64(69), int64(10), object(21)
memory usage: 76.3+ MB

In [4]:
df['churn'].value_counts()

0    50438
1    49562
Name: churn, dtype: int64

# 2. Data Cleaning

## 2.1. Drop Features with only 1 unique value

In [5]:
un = []
for cols in df.columns:
    if df[cols].nunique()==1:
        un.append(cols)
    else:
        pass

df = df.drop(un,axis=1)

In [6]:
df.shape

(100000, 100)

## 2.2. Missing Value Handling

### Removing Columns whose values are all missing

In [7]:
df = df.dropna(axis='columns', how='all')

### Filling missing value in categorical and numerical data

In [8]:
df.isnull().sum()

rev_Mean        357
mou_Mean        357
totmrc_Mean     357
da_Mean         357
ovrmou_Mean     357
               ...
kid11_15       1732
kid16_17       1732
creditcd       1732
eqpdays           1
Customer_ID       0
Length: 100, dtype: int64

**Categorical**

In [9]:
# set containing categorical features
p = set(df.select_dtypes(include=['object','category']).columns)

In [10]:
# set containing features with null value
q= set(df.columns[df.isnull().any()])

In [11]:
# Intersections between them to get categorical features which contain missing value
r = list(p&q)
r

['dwlltype',
 'dwllsize',
 'kid11_15',
 'area',
 'hnd_webcap',
 'ethnic',
 'infobase',
 'kid16_17',
 'kid6_10',
 'HHstatin',
 'dualband',
 'marital',
 'refurb_new',
 'kid3_5',
 'prizm_social_one',
 'kid0_2',
 'ownrent',
 'creditcd']

In [13]:
## Filling missing value with their mode
for cat_col in r:
    df[cat_col]=df[cat_col].fillna(df[cat_col].mode()[0])

print('Missing value left in categorical features : \n',df.select_dtypes(include=['object','category']).isnull().sum().sum())

Missing value left in categorical features :
 0

**Numerical**

In [17]:
# To get numerical features which contain missing value
v = p&q
h = list(q-v)

In [19]:
# We see our numerical missing value
df[h].isnull().sum()

datovr_Mean      357
eqpdays            1
roam_Mean        357
forgntvl        1732
ovrmou_Mean      357
rv              1732
rev_Mean         357
adults         23019
lor            30190
vceovr_Mean      357
avg6rev         2839
models             1
phones             1
mou_Mean         357
numbcars       49366
change_rev       891
totmrc_Mean      357
truck           1732
avg6qty         2839
ovrrev_Mean      357
avg6mou         2839
income         25436
change_mou       891
da_Mean          357
hnd_price        847
dtype: int64

In [21]:
## Filling missing value with their mean
for num_col in h:
    df[num_col]=df[num_col].fillna(value = df[num_col].mean())
    
print('Missing value left in numerical features : \n',df[h].isnull().sum().sum())

Missing value left in categorical features :
 0

2.3