In [7]:
import numpy as np
import pandas as pd
import re
import torch
import torchvision
import torch.nn as nn
from glob import glob
from PIL import Image
from torchvision import transforms
from torch.utils.data import Dataset, DataLoader
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import plotly.express as px
import time

In [8]:
device = 'cuda' if torch.cuda.is_available() else 'cpu'

In [9]:
file_paths = glob("/Users/danielbeltsazar/DS-ML-DL Mini Projects/Weather Classification/Multi-class Weather Dataset/*/*")

In [11]:
labels = list()
for path in file_paths:
    file_name = path[path.rfind("/")+1:]
    labels.append(file_name[:re.search(r"\d", file_name).start()])

In [12]:
df = pd.DataFrame({'path': file_paths, 'class': labels})

In [13]:
df.head()

                                                path   class
0  /Users/danielbeltsazar/DS-ML-DL Mini Projects/...  cloudy
1  /Users/danielbeltsazar/DS-ML-DL Mini Projects/...  cloudy
2  /Users/danielbeltsazar/DS-ML-DL Mini Projects/...  cloudy
3  /Users/danielbeltsazar/DS-ML-DL Mini Projects/...  cloudy
4  /Users/danielbeltsazar/DS-ML-DL Mini Projects/...  cloudy

In [14]:
def label_column(df):
    classes = list(df['class'].unique())
    class_to_num = dict(zip(classes, range(len(classes))))
    df['label'] = df['class'].apply(lambda x: class_to_num[x])

In [15]:
label_column(df)

In [16]:
df.head()

                                                path   class  label
0  /Users/danielbeltsazar/DS-ML-DL Mini Projects/...  cloudy      0
1  /Users/danielbeltsazar/DS-ML-DL Mini Projects/...  cloudy      0
2  /Users/danielbeltsazar/DS-ML-DL Mini Projects/...  cloudy      0
3  /Users/danielbeltsazar/DS-ML-DL Mini Projects/...  cloudy      0
4  /Users/danielbeltsazar/DS-ML-DL Mini Projects/...  cloudy      0

In [18]:
df.groupby(['class','label'])[['class']].count()

               class
class   label
cloudy  0        300
rain    1        215
shine   2        253
sunrise 3        357