In [6]:
import pandas as pd

In [7]:
df=pd.read_csv("uberlyft_price_reg.csv")
df.head()

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,...,0.1276,1544979600,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,Haymarket Square,North Station,Lyft,...,0.1300,1543251600,40.49,1543233600,47.30,1543251600,36.20,1543291200,43.92,1543251600
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,Haymarket Square,North Station,Lyft,...,0.1064,1543338000,35.36,1543377600,47.55,1543320000,31.04,1543377600,44.12,1543320000
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1.543554e+09,4,30,11,2018-11-30 04:53:02,America/New_York,Haymarket Square,North Station,Lyft,...,0.0000,1543507200,34.67,1543550400,45.03,1543510800,30.30,1543550400,38.53,1543510800
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1.543463e+09,3,29,11,2018-11-29 03:49:20,America/New_York,Haymarket Square,North Station,Lyft,...,0.0001,1543420800,33.10,1543402800,42.18,1543420800,29.11,1543392000,35.75,1543420800

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637976 entries, 0 to 637975
Data columns (total 57 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           637976 non-null  object
 1   timestamp                    637976 non-null  float64
 2   hour                         637976 non-null  int64
 3   day                          637976 non-null  int64
 4   month                        637976 non-null  int64
 5   datetime                     637976 non-null  datetime64[ns]
 6   timezone                     637976 non-null  object
 7   source                       637976 non-null  object
 8   destination                  637976 non-null  object
 9   cab_type                     637976 non-null  object
 10  product_id                   637976 non-null  object
 11  name                         637976 non-null  object
 12  price                        637976 non-null  float64
 13  distance                     637976 non-null  float64
 14  surge_multiplier             637976 non-null  float64
 15  latitude                     637976 non-null  float64
 16  longitude                    637976 non-null  float64
 17  temperature                  637976 non-null  float64
 18  apparentTemperature          637976 non-null  float64
 19  short_summary                637976 non-null  object
 20  long_summary                 637976 non-null  object
 21  precipIntensity              637976 non-null  float64
 22  precipProbability            637976 non-null  float64
 23  humidity                     637976 non-null  float64
 24  windSpeed                    637976 non-null  float64
 25  windGust                     637976 non-null  float64
 26  windGustTime                 637976 non-null  int64
 27  visibility                   637976 non-null  float64
 28  temperatureHigh              637976 non-null  float64
 29  temperatureHighTime          637976 non-null  int64
 30  temperatureLow               637976 non-null  float64
 31  temperatureLowTime           637976 non-null  int64
 32  apparentTemperatureHigh      637976 non-null  float64
 33  apparentTemperatureHighTime  637976 non-null  int64
 34  apparentTemperatureLow       637976 non-null  float64
 35  apparentTemperatureLowTime   637976 non-null  int64
 36  icon                         637976 non-null  object
 37  dewPoint                     637976 non-null  float64
 38  pressure                     637976 non-null  float64
 39  windBearing                  637976 non-null  int64
 40  cloudCover                   637976 non-null  float64
 41  uvIndex                      637976 non-null  int64
 42  visibility.1                 637976 non-null  float64
 43  ozone                        637976 non-null  float64
 44  sunriseTime                  637976 non-null  int64
 45  sunsetTime                   637976 non-null  int64
 46  moonPhase                    637976 non-null  float64
 47  precipIntensityMax           637976 non-null  float64
 48  uvIndexTime                  637976 non-null  int64
 49  temperatureMin               637976 non-null  float64
 50  temperatureMinTime           637976 non-null  int64
 51  temperatureMax               637976 non-null  float64
 52  temperatureMaxTime           637976 non-null  int64
 53  apparentTemperatureMin       637976 non-null  float64
 54  apparentTemperatureMinTime   637976 non-null  int64
 55  apparentTemperatureMax       637976 non-null  float64
 56  apparentTemperatureMaxTime   637976 non-null  int64
dtypes: datetime64[ns](1), float64(29), int64(17), object(10)
memory usage: 277.4+ MB

In [9]:
df['datetime']=pd.to_datetime(df['datetime'])

In [11]:
df.isnull().any()

id                             False
timestamp                      False
hour                           False
day                            False
month                          False
datetime                       False
timezone                       False
source                         False
destination                    False
cab_type                       False
product_id                     False
name                           False
price                          False
distance                       False
surge_multiplier               False
latitude                       False
longitude                      False
temperature                    False
apparentTemperature            False
short_summary                  False
long_summary                   False
precipIntensity                False
precipProbability              False
humidity                       False
windSpeed                      False
windGust                       False
windGustTime                   False
visibility                     False
temperatureHigh                False
temperatureHighTime            False
temperatureLow                 False
temperatureLowTime             False
apparentTemperatureHigh        False
apparentTemperatureHighTime    False
apparentTemperatureLow         False
apparentTemperatureLowTime     False
icon                           False
dewPoint                       False
pressure                       False
windBearing                    False
cloudCover                     False
uvIndex                        False
visibility.1                   False
ozone                          False
sunriseTime                    False
sunsetTime                     False
moonPhase                      False
precipIntensityMax             False
uvIndexTime                    False
temperatureMin                 False
temperatureMinTime             False
temperatureMax                 False
temperatureMaxTime             False
apparentTemperatureMin         False
apparentTemperatureMinTime     False
apparentTemperatureMax         False
apparentTemperatureMaxTime     False
dtype: bool

In [7]:
df_copy=df.dropna(axis=0)
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637976 entries, 0 to 693070
Data columns (total 57 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           637976 non-null  object
 1   timestamp                    637976 non-null  float64
 2   hour                         637976 non-null  int64
 3   day                          637976 non-null  int64
 4   month                        637976 non-null  int64
 5   datetime                     637976 non-null  object
 6   timezone                     637976 non-null  object
 7   source                       637976 non-null  object
 8   destination                  637976 non-null  object
 9   cab_type                     637976 non-null  object
 10  product_id                   637976 non-null  object
 11  name                         637976 non-null  object
 12  price                        637976 non-null  float64
 13  distance                     637976 non-null  float64
 14  surge_multiplier             637976 non-null  float64
 15  latitude                     637976 non-null  float64
 16  longitude                    637976 non-null  float64
 17  temperature                  637976 non-null  float64
 18  apparentTemperature          637976 non-null  float64
 19  short_summary                637976 non-null  object
 20  long_summary                 637976 non-null  object
 21  precipIntensity              637976 non-null  float64
 22  precipProbability            637976 non-null  float64
 23  humidity                     637976 non-null  float64
 24  windSpeed                    637976 non-null  float64
 25  windGust                     637976 non-null  float64
 26  windGustTime                 637976 non-null  int64
 27  visibility                   637976 non-null  float64
 28  temperatureHigh              637976 non-null  float64
 29  temperatureHighTime          637976 non-null  int64
 30  temperatureLow               637976 non-null  float64
 31  temperatureLowTime           637976 non-null  int64
 32  apparentTemperatureHigh      637976 non-null  float64
 33  apparentTemperatureHighTime  637976 non-null  int64
 34  apparentTemperatureLow       637976 non-null  float64
 35  apparentTemperatureLowTime   637976 non-null  int64
 36  icon                         637976 non-null  object
 37  dewPoint                     637976 non-null  float64
 38  pressure                     637976 non-null  float64
 39  windBearing                  637976 non-null  int64
 40  cloudCover                   637976 non-null  float64
 41  uvIndex                      637976 non-null  int64
 42  visibility.1                 637976 non-null  float64
 43  ozone                        637976 non-null  float64
 44  sunriseTime                  637976 non-null  int64
 45  sunsetTime                   637976 non-null  int64
 46  moonPhase                    637976 non-null  float64
 47  precipIntensityMax           637976 non-null  float64
 48  uvIndexTime                  637976 non-null  int64
 49  temperatureMin               637976 non-null  float64
 50  temperatureMinTime           637976 non-null  int64
 51  temperatureMax               637976 non-null  float64
 52  temperatureMaxTime           637976 non-null  int64
 53  apparentTemperatureMin       637976 non-null  float64
 54  apparentTemperatureMinTime   637976 non-null  int64
 55  apparentTemperatureMax       637976 non-null  float64
 56  apparentTemperatureMaxTime   637976 non-null  int64
dtypes: float64(29), int64(17), object(11)
memory usage: 282.3+ MB

In [12]:
df.to_csv('uberlyft_price_reg2.csv',index=False)