In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as st
import datetime
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.decomposition import PCA
from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
from matplotlib.colors import ListedColormap
from sklearn import metrics
import warnings
import sys

In [2]:
df = pd.read_csv('marketing_campaign.csv',sep="\t")
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

# 1. Data Cleaning

## 1. Missing Value

In [4]:
df.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [5]:
df = df.dropna(axis=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2216 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2216 non-null   int64
 1   Year_Birth           2216 non-null   int64
 2   Education            2216 non-null   object
 3   Marital_Status       2216 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2216 non-null   int64
 6   Teenhome             2216 non-null   int64
 7   Dt_Customer          2216 non-null   object
 8   Recency              2216 non-null   int64
 9   MntWines             2216 non-null   int64
 10  MntFruits            2216 non-null   int64
 11  MntMeatProducts      2216 non-null   int64
 12  MntFishProducts      2216 non-null   int64
 13  MntSweetProducts     2216 non-null   int64
 14  MntGoldProds         2216 non-null   int64
 15  NumDealsPurchases    2216 non-null   int64
 16  NumWebPurchases      2216 non-null   int64
 17  NumCatalogPurchases  2216 non-null   int64
 18  NumStorePurchases    2216 non-null   int64
 19  NumWebVisitsMonth    2216 non-null   int64
 20  AcceptedCmp3         2216 non-null   int64
 21  AcceptedCmp4         2216 non-null   int64
 22  AcceptedCmp5         2216 non-null   int64
 23  AcceptedCmp1         2216 non-null   int64
 24  AcceptedCmp2         2216 non-null   int64
 25  Complain             2216 non-null   int64
 26  Z_CostContact        2216 non-null   int64
 27  Z_Revenue            2216 non-null   int64
 28  Response             2216 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 519.4+ KB

## 2. Convert date format column to datetime data type

In [6]:
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'])

In [7]:
dates = []
for date in df["Dt_Customer"]:
    date = date.date()
    dates.append(date)

print("Fist Time Customers Purchase : ",min(dates))
print("Last Time Customers Purchase : ",max(dates))

Fist Time Customers Purchase :  2012-01-08
Last Time Customers Purchase :  2014-12-06

In [8]:
df["Marital_Status"].value_counts()

Married     857
Together    573
Single      471
Divorced    232
Widow        76
Alone         3
Absurd        2
YOLO          2
Name: Marital_Status, dtype: int64

In [9]:
df["Education"].value_counts()

Graduation    1116
PhD            481
Master         365
2n Cycle       200
Basic           54
Name: Education, dtype: int64

# 2. Feature Engineering

### I will add some additional features that might be useful for us and might give us insight

In [10]:
df['Age']=2021-df['Year_Birth']

In [11]:
df['Children_at_home']= df['Kidhome']+df['Teenhome']

In [12]:
df["Living_With"]=df["Marital_Status"].replace({"Married":"Partner", "Together":"Partner", "Absurd":"Alone", "Widow":"Alone", "YOLO":"Alone", "Divorced":"Alone", "Single":"Alone",})

df["Family_Size"] = df["Living_With"].replace({"Alone": 1, "Partner":2})+ df["Children_at_home"]

In [13]:
df=df.rename(columns={"MntWines": "Wines","MntFruits":"Fruits","MntMeatProducts":"Meat","MntFishProducts":"Fish","MntSweetProducts":"Sweets","MntGoldProds":"Gold"})

In [14]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,Wines,...,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Age,Children_at_home,Living_With,Family_Size
0,5524,1957,Graduation,Single,58138.0,0,0,2012-04-09,58,635,...,0,0,0,3,11,1,64,0,Alone,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-08-03,38,11,...,0,0,0,3,11,0,67,2,Alone,3
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,0,0,0,3,11,0,56,0,Partner,2
3,6182,1984,Graduation,Together,26646.0,1,0,2014-10-02,26,11,...,0,0,0,3,11,0,37,1,Partner,3
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,0,0,0,3,11,0,40,1,Partner,3

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2216 entries, 0 to 2239
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2216 non-null   int64
 1   Year_Birth           2216 non-null   int64
 2   Education            2216 non-null   object
 3   Marital_Status       2216 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2216 non-null   int64
 6   Teenhome             2216 non-null   int64
 7   Dt_Customer          2216 non-null   datetime64[ns]
 8   Recency              2216 non-null   int64
 9   Wines                2216 non-null   int64
 10  Fruits               2216 non-null   int64
 11  Meat                 2216 non-null   int64
 12  Fish                 2216 non-null   int64
 13  Sweets               2216 non-null   int64
 14  Gold                 2216 non-null   int64
 15  NumDealsPurchases    2216 non-null   int64
 16  NumWebPurchases      2216 non-null   int64
 17  NumCatalogPurchases  2216 non-null   int64
 18  NumStorePurchases    2216 non-null   int64
 19  NumWebVisitsMonth    2216 non-null   int64
 20  AcceptedCmp3         2216 non-null   int64
 21  AcceptedCmp4         2216 non-null   int64
 22  AcceptedCmp5         2216 non-null   int64
 23  AcceptedCmp1         2216 non-null   int64
 24  AcceptedCmp2         2216 non-null   int64
 25  Complain             2216 non-null   int64
 26  Z_CostContact        2216 non-null   int64
 27  Z_Revenue            2216 non-null   int64
 28  Response             2216 non-null   int64
 29  Age                  2216 non-null   int64
 30  Children_at_home     2216 non-null   int64
 31  Living_With          2216 non-null   object
 32  Family_Size          2216 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(28), object(3)
memory usage: 588.6+ KB

### I will drop some columns that we might not use for analysis

In [16]:
df = df.drop(['ID','Z_CostContact','Z_Revenue'],axis=1)

### Now we will see how our data look like before we continue to explore them

In [17]:
def summary(df,column):
    print("Distinct : ",len(pd.unique(df[column])))
    print("Missing : ",df[column].isnull().sum())
    print("Sum : ",df[column].sum())
    print("Mode : ",st.mode(df[column]))
    print("stddev : ",np.std(df[column]))
    print("CV :",100*(np.std(df[column]))/(np.mean(df[column]))) #coefficient of variation
    print("Min : ",df[column].min())
    print("Max : ",df[column].max())
    print("Mean : ",df[column].mean())
    print("Q1 : ",np.quantile(df[column],0.25))
    print("Q1 : ",np.quantile(df[column],0.5))
    print("Q1 : ",np.quantile(df[column],0.75))

In [18]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [19]:
df_new= df.copy()
for col in df_new.select_dtypes(include='O').columns:
    df_new[col]=le.fit_transform(df_new[col])

In [22]:
for i in df_new.drop(['Dt_Customer'],axis=1).columns:
    print (i,'\n')
    summary(df_new.drop(['Dt_Customer'],axis=1),i)
    print("-"*30)

Year_Birth

Distinct :  59
Missing :  0
Sum :  4362906
Mode :  1976
stddev :  11.982849470420215
CV : 0.6086309085378231
Min :  1893
Max :  1996
Mean :  1968.8203971119133
Q1 :  1959.0
Q1 :  1970.0
Q1 :  1977.0
------------------------------
Education

Distinct :  5
Missing :  0
Sum :  5305
Mode :  2
stddev :  1.1238871292909483
CV : 46.94691571175761
Min :  0
Max :  4
Mean :  2.3939530685920576
Q1 :  2.0
Q1 :  2.0
Q1 :  3.0
------------------------------
Marital_Status

Distinct :  8
Missing :  0
Sum :  8257
Mode :  3
stddev :  1.0774879698797502
CV : 28.917443880992202
Min :  0
Max :  7
Mean :  3.726083032490975
Q1 :  3.0
Q1 :  4.0
Q1 :  5.0
------------------------------
Income

Distinct :  1974
Missing :  0
Sum :  115779909.0
Mode :  7500.0
stddev :  25167.39617416297
CV : 48.16979940962394
Min :  1730.0
Max :  666666.0
Mean :  52247.25135379061
Q1 :  35303.0
Q1 :  51381.5
Q1 :  68522.0
------------------------------
Kidhome

Distinct :  3
Missing :  0
Sum :  979
Mode :  0
stddev :  0.5367750856165721
CV : 121.50087739799017
Min :  0
Max :  2
Mean :  0.4417870036101083
Q1 :  0.0
Q1 :  0.0
Q1 :  1.0
------------------------------
Teenhome

Distinct :  3
Missing :  0
Sum :  1120
Mode :  0
stddev :  0.5440584131157243
CV : 107.64584316646831
Min :  0
Max :  2
Mean :  0.5054151624548736
Q1 :  0.0
Q1 :  0.0
Q1 :  1.0
------------------------------
Recency

Distinct :  100
Missing :  0
Sum :  108612
Mode :  56
stddev :  28.941819253789806
CV : 59.04971040621497
Min :  0
Max :  99
Mean :  49.01263537906137
Q1 :  24.0
Q1 :  49.0
Q1 :  74.0
------------------------------
Wines

Distinct :  776
Missing :  0
Sum :  676083
Mode :  2
stddev :  337.2517996327695
CV : 110.54115958931334
Min :  0
Max :  1493
Mean :  305.09160649819495
Q1 :  24.0
Q1 :  174.5
Q1 :  505.0
------------------------------
Fruits

Distinct :  158
Missing :  0
Sum :  58405
Mode :  0
stddev :  39.784936733284404
CV : 150.9518359745882
Min :  0
Max :  199
Mean :  26.356046931407942
Q1 :  2.0
Q1 :  8.0
Q1 :  33.0
------------------------------
Meat

Distinct :  554
Missing :  0
Sum :  370063
Mode :  7
stddev :  224.23266161701747
CV : 134.2743203571583
Min :  0
Max :  1725
Mean :  166.99593862815885
Q1 :  16.0
Q1 :  68.0
Q1 :  232.25
------------------------------
Fish

Distinct :  182
Missing :  0
Sum :  83405
Mode :  0
stddev :  54.73972721162221
CV : 145.43880522864916
Min :  0
Max :  259
Mean :  37.63763537906137
Q1 :  3.0
Q1 :  12.0
Q1 :  50.0
------------------------------
Sweets

Distinct :  176
Missing :  0
Sum :  59896
Mode :  0
stddev :  41.06277746294529
CV : 151.9218559801769
Min :  0
Max :  262
Mean :  27.028880866425993
Q1 :  1.0
Q1 :  8.0
Q1 :  33.0
------------------------------
Gold

Distinct :  212
Missing :  0
Sum :  97427
Mode :  1
stddev :  51.80372185161807
CV : 117.8287821889062
Min :  0
Max :  321
Mean :  43.96525270758123
Q1 :  9.0
Q1 :  24.5
Q1 :  56.0
------------------------------
NumDealsPurchases

Distinct :  15
Missing :  0
Sum :  5149
Mode :  1
stddev :  1.9232815456683927
CV : 82.77319683824349
Min :  0
Max :  15
Mean :  2.3235559566787005
Q1 :  1.0
Q1 :  2.0
Q1 :  3.0
------------------------------
NumWebPurchases

Distinct :  15
Missing :  0
Sum :  9053
Mode :  2
stddev :  2.740332565587445
CV : 67.07806213787448
Min :  0
Max :  27
Mean :  4.08528880866426
Q1 :  2.0
Q1 :  4.0
Q1 :  6.0
------------------------------
NumCatalogPurchases

Distinct :  14
Missing :  0
Sum :  5919
Mode :  0
stddev :  2.9260731974040817
CV : 109.54854207547633
Min :  0
Max :  28
Mean :  2.671028880866426
Q1 :  0.0
Q1 :  2.0
Q1 :  4.0
------------------------------
NumStorePurchases

Distinct :  14
Missing :  0
Sum :  12855
Mode :  3
stddev :  3.2500512225819644
CV : 56.02577603455179
Min :  0
Max :  13
Mean :  5.800992779783393
Q1 :  3.0
Q1 :  5.0
Q1 :  8.0
------------------------------
NumWebVisitsMonth

Distinct :  16
Missing :  0
Sum :  11787
Mode :  7
stddev :  2.4248112409175104
CV : 45.587356493367295
Min :  0
Max :  20
Mean :  5.319043321299639
Q1 :  3.0
Q1 :  6.0
Q1 :  7.0
------------------------------
AcceptedCmp3

Distinct :  2
Missing :  0
Sum :  163
Mode :  0
stddev :  0.2610468883472528
CV : 354.8956469800688
Min :  0
Max :  1
Mean :  0.07355595667870037
Q1 :  0.0
Q1 :  0.0
Q1 :  0.0
------------------------------
AcceptedCmp4

Distinct :  2
Missing :  0
Sum :  164
Mode :  0
stddev :  0.261782641847037
CV : 353.72581361770364
Min :  0
Max :  1
Mean :  0.0740072202166065
Q1 :  0.0
Q1 :  0.0
Q1 :  0.0
------------------------------
AcceptedCmp5

Distinct :  2
Missing :  0
Sum :  162
Mode :  0
stddev :  0.26030827297952946
CV : 356.0760079769366
Min :  0
Max :  1
Mean :  0.07310469314079422
Q1 :  0.0
Q1 :  0.0
Q1 :  0.0
------------------------------
AcceptedCmp1

Distinct :  2
Missing :  0
Sum :  142
Mode :  0
stddev :  0.2448943650020896
CV : 382.173178059599
Min :  0
Max :  1
Mean :  0.06407942238267147
Q1 :  0.0
Q1 :  0.0
Q1 :  0.0
------------------------------
AcceptedCmp2

Distinct :  2
Missing :  0
Sum :  30
Mode :  0
stddev :  0.11556223965727164
CV : 853.6197436017131
Min :  0
Max :  1
Mean :  0.013537906137184115
Q1 :  0.0
Q1 :  0.0
Q1 :  0.0
------------------------------
Complain

Distinct :  2
Missing :  0
Sum :  21
Mode :  0
stddev :  0.09688513608270731
CV : 1022.3688645679971
Min :  0
Max :  1
Mean :  0.00947653429602888
Q1 :  0.0
Q1 :  0.0
Q1 :  0.0
------------------------------
Response

Distinct :  2
Missing :  0
Sum :  333
Mode :  0
stddev :  0.3573366163380976
CV : 237.79517771928658
Min :  0
Max :  1
Mean :  0.15027075812274368
Q1 :  0.0
Q1 :  0.0
Q1 :  0.0
------------------------------
Age

Distinct :  59
Missing :  0
Sum :  115630
Mode :  45
stddev :  11.982849470420199
CV : 22.964623736444835
Min :  25
Max :  128
Mean :  52.17960288808664
Q1 :  44.0
Q1 :  51.0
Q1 :  62.0
------------------------------
Children_at_home

Distinct :  4
Missing :  0
Sum :  2099
Mode :  1
stddev :  0.7488928812430633
CV : 79.06367912504184
Min :  0
Max :  3
Mean :  0.947202166064982
Q1 :  0.0
Q1 :  1.0
Q1 :  1.0
------------------------------
Living_With

Distinct :  2
Missing :  0
Sum :  1430
Mode :  1
stddev :  0.4784202302032663
CV : 74.13840770142924
Min :  0
Max :  1
Mean :  0.6453068592057761
Q1 :  0.0
Q1 :  1.0
Q1 :  1.0
------------------------------
Family_Size

Distinct :  5
Missing :  0
Sum :  5745
Mode :  3
stddev :  0.9055174961529648
CV : 34.92822926849382
Min :  1
Max :  5
Mean :  2.592509025270758
Q1 :  2.0
Q1 :  3.0
Q1 :  3.0
------------------------------

### We can see from above the statistical behaviour of our data

# 3. EDA and Data Visualization

# 4. Data Preprocessing