Source : https://www.kaggle.com/datasets/abhinav89/telecom-customer

+ Churn rate

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_csv('/Users/danielbeltsazar/DS-ML-DL Mini Projects/Exploring/Classification/Customer Churn/Telecom_customer churn.csv')

df.head()

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,change_rev,drop_vce_Mean,drop_dat_Mean,blck_vce_Mean,blck_dat_Mean,unan_vce_Mean,unan_dat_Mean,plcd_vce_Mean,plcd_dat_Mean,recv_vce_Mean,recv_sms_Mean,comp_vce_Mean,comp_dat_Mean,custcare_Mean,ccrndmou_Mean,cc_mou_Mean,inonemin_Mean,threeway_Mean,mou_cvce_Mean,mou_cdat_Mean,mou_rvce_Mean,owylis_vce_Mean,mouowylisv_Mean,iwylis_vce_Mean,mouiwylisv_Mean,peak_vce_Mean,peak_dat_Mean,mou_peav_Mean,mou_pead_Mean,opk_vce_Mean,opk_dat_Mean,mou_opkv_Mean,mou_opkd_Mean,drop_blk_Mean,attempt_Mean,complete_Mean,callfwdv_Mean,callwait_Mean,churn,months,uniqsubs,actvsubs,new_cell,crclscod,asl_flag,totcalls,totmou,totrev,adjrev,adjmou,adjqty,avgrev,avgmou,avgqty,avg3mou,avg3qty,avg3rev,avg6mou,avg6qty,avg6rev,prizm_social_one,area,dualband,refurb_new,hnd_price,phones,models,hnd_webcap,truck,rv,ownrent,lor,dwlltype,marital,adults,infobase,income,numbcars,HHstatin,dwllsize,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,Customer_ID
0,23.9975,219.25,22.500,0.2475,0.00,0.0,0.0,0.0,0.0,-157.25,-18.9975,0.666667,0.0,0.666667,0.0,6.333333,0.0,52.333333,0.0,42.333333,0.0,45.000000,0.0,0.000000,0.000000,0.000000,18.000000,0.000000,90.643333,0.0,97.176667,0.000000,0.000000,0.000000,0.000000,58.000000,0.0,132.600000,0.0,24.000000,0.0,55.220000,0.0,1.333333,52.333333,45.000000,0.0,0.333333,1,61,2,1,U,A,N,1652,4228.00000,1504.62,1453.44,4085.00,1602,29.66,83.37,32.69,272,116,30,322.0,136.0,38.0,S,NORTHWEST/ROCKY MOUNTAIN AREA,Y,N,149.98999,2.0,2.0,WCMB,0.0,0.0,O,15.0,S,S,1.0,M,4.0,3.0,C,A,0.0,N,U,U,U,U,U,Y,361.0,1000001
1,57.4925,482.75,37.425,0.2475,22.75,9.1,9.1,0.0,0.0,532.25,50.9875,8.333333,0.0,1.000000,0.0,61.333333,0.0,263.333333,0.0,69.000000,0.0,193.333333,0.0,1.666667,6.333333,5.463333,53.000000,0.333333,189.396667,0.0,55.280000,46.333333,24.216667,6.333333,3.696667,83.666667,0.0,75.333333,0.0,157.000000,0.0,169.343333,0.0,9.333333,263.333333,193.333333,0.0,5.666667,0,56,1,1,N,EA,N,14654,26400.00000,2851.68,2833.88,26367.00,14624,51.53,479.40,265.89,305,158,40,477.0,275.0,48.0,U,CHICAGO AREA,N,N,NaN,7.0,6.0,WC,1.0,1.0,NaN,1.0,S,S,1.0,M,5.0,1.0,C,A,0.0,Z,U,U,U,U,U,Y,240.0,1000002
2,16.9900,10.25,16.990,0.0000,0.00,0.0,0.0,0.0,0.0,-4.25,0.0000,0.333333,0.0,0.000000,0.0,2.666667,0.0,9.000000,0.0,0.333333,0.0,6.000000,0.0,0.000000,0.000000,0.000000,0.333333,0.000000,5.426667,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.0,5.193333,0.0,1.000000,0.0,0.233333,0.0,0.333333,9.000000,6.000000,0.0,0.000000,1,58,1,1,Y,C,N,7903,24385.05333,2155.91,1934.47,24303.05,7888,34.54,433.98,140.86,12,7,17,11.0,6.0,17.0,S,GREAT LAKES AREA,N,N,29.98999,2.0,1.0,NaN,0.0,0.0,O,7.0,S,M,2.0,M,5.0,2.0,C,A,0.0,N,U,Y,U,U,U,Y,1504.0,1000003
3,38.0000,7.50,38.000,0.0000,0.00,0.0,0.0,0.0,0.0,-1.50,0.0000,0.000000,0.0,0.000000,0.0,0.000000,0.0,3.666667,0.0,1.333333,0.0,3.666667,0.0,0.000000,0.000000,0.000000,1.333333,0.000000,8.410000,0.0,0.413333,0.333333,0.256667,0.000000,0.000000,1.333333,0.0,3.380000,0.0,3.666667,0.0,5.450000,0.0,0.000000,3.666667,3.666667,0.0,0.000000,0,60,1,1,Y,B,N,1502,3065.00000,2000.90,1941.81,3035.00,1479,40.45,63.23,30.81,8,3,38,50.0,25.0,40.0,T,CHICAGO AREA,N,N,29.98999,1.0,1.0,NaN,0.0,0.0,NaN,6.0,M,M,4.0,M,6.0,1.0,C,D,0.0,U,Y,U,U,U,U,Y,1812.0,1000004
4,55.2300,570.50,71.980,0.0000,0.00,0.0,0.0,0.0,0.0,38.50,0.0000,9.666667,0.0,0.666667,0.0,77.000000,0.0,222.333333,0.0,94.666667,0.0,137.000000,0.0,8.666667,15.000000,11.076667,66.000000,0.000000,285.233333,0.0,106.330000,14.666667,10.816667,0.666667,0.366667,97.333333,0.0,173.476667,0.0,90.333333,0.0,218.086667,0.0,10.333333,222.333333,137.000000,0.0,0.000000,0,57,1,1,Y,A,N,4485,14028.00000,2181.12,2166.48,13965.00,4452,38.69,249.38,79.50,558,191,55,586.0,196.0,80.0,U,NEW ENGLAND AREA,Y,N,149.98999,6.0,4.0,WCMB,0.0,0.0,R,5.0,M,S,1.0,M,6.0,1.0,C,O,0.0,I,U,U,U,U,U,Y,434.0,1000005

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 100 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   rev_Mean          99643 non-null   float64
 1   mou_Mean          99643 non-null   float64
 2   totmrc_Mean       99643 non-null   float64
 3   da_Mean           99643 non-null   float64
 4   ovrmou_Mean       99643 non-null   float64
 5   ovrrev_Mean       99643 non-null   float64
 6   vceovr_Mean       99643 non-null   float64
 7   datovr_Mean       99643 non-null   float64
 8   roam_Mean         99643 non-null   float64
 9   change_mou        99109 non-null   float64
 10  change_rev        99109 non-null   float64
 11  drop_vce_Mean     100000 non-null  float64
 12  drop_dat_Mean     100000 non-null  float64
 13  blck_vce_Mean     100000 non-null  float64
 14  blck_dat_Mean     100000 non-null  float64
 15  unan_vce_Mean     100000 non-null  float64
 16  unan_dat_Mean     100000 non-null  float64
 17  plcd_vce_Mean     100000 non-null  float64
 18  plcd_dat_Mean     100000 non-null  float64
 19  recv_vce_Mean     100000 non-null  float64
 20  recv_sms_Mean     100000 non-null  float64
 21  comp_vce_Mean     100000 non-null  float64
 22  comp_dat_Mean     100000 non-null  float64
 23  custcare_Mean     100000 non-null  float64
 24  ccrndmou_Mean     100000 non-null  float64
 25  cc_mou_Mean       100000 non-null  float64
 26  inonemin_Mean     100000 non-null  float64
 27  threeway_Mean     100000 non-null  float64
 28  mou_cvce_Mean     100000 non-null  float64
 29  mou_cdat_Mean     100000 non-null  float64
 30  mou_rvce_Mean     100000 non-null  float64
 31  owylis_vce_Mean   100000 non-null  float64
 32  mouowylisv_Mean   100000 non-null  float64
 33  iwylis_vce_Mean   100000 non-null  float64
 34  mouiwylisv_Mean   100000 non-null  float64
 35  peak_vce_Mean     100000 non-null  float64
 36  peak_dat_Mean     100000 non-null  float64
 37  mou_peav_Mean     100000 non-null  float64
 38  mou_pead_Mean     100000 non-null  float64
 39  opk_vce_Mean      100000 non-null  float64
 40  opk_dat_Mean      100000 non-null  float64
 41  mou_opkv_Mean     100000 non-null  float64
 42  mou_opkd_Mean     100000 non-null  float64
 43  drop_blk_Mean     100000 non-null  float64
 44  attempt_Mean      100000 non-null  float64
 45  complete_Mean     100000 non-null  float64
 46  callfwdv_Mean     100000 non-null  float64
 47  callwait_Mean     100000 non-null  float64
 48  churn             100000 non-null  int64
 49  months            100000 non-null  int64
 50  uniqsubs          100000 non-null  int64
 51  actvsubs          100000 non-null  int64
 52  new_cell          100000 non-null  object
 53  crclscod          100000 non-null  object
 54  asl_flag          100000 non-null  object
 55  totcalls          100000 non-null  int64
 56  totmou            100000 non-null  float64
 57  totrev            100000 non-null  float64
 58  adjrev            100000 non-null  float64
 59  adjmou            100000 non-null  float64
 60  adjqty            100000 non-null  int64
 61  avgrev            100000 non-null  float64
 62  avgmou            100000 non-null  float64
 63  avgqty            100000 non-null  float64
 64  avg3mou           100000 non-null  int64
 65  avg3qty           100000 non-null  int64
 66  avg3rev           100000 non-null  int64
 67  avg6mou           97161 non-null   float64
 68  avg6qty           97161 non-null   float64
 69  avg6rev           97161 non-null   float64
 70  prizm_social_one  92612 non-null   object
 71  area              99960 non-null   object
 72  dualband          99999 non-null   object
 73  refurb_new        99999 non-null   object
 74  hnd_price         99153 non-null   float64
 75  phones            99999 non-null   float64
 76  models            99999 non-null   float64
 77  hnd_webcap        89811 non-null   object
 78  truck             98268 non-null   float64
 79  rv                98268 non-null   float64
 80  ownrent           66294 non-null   object
 81  lor               69810 non-null   float64
 82  dwlltype          68091 non-null   object
 83  marital           98268 non-null   object
 84  adults            76981 non-null   float64
 85  infobase          77921 non-null   object
 86  income            74564 non-null   float64
 87  numbcars          50634 non-null   float64
 88  HHstatin          62077 non-null   object
 89  dwllsize          61692 non-null   object
 90  forgntvl          98268 non-null   float64
 91  ethnic            98268 non-null   object
 92  kid0_2            98268 non-null   object
 93  kid3_5            98268 non-null   object
 94  kid6_10           98268 non-null   object
 95  kid11_15          98268 non-null   object
 96  kid16_17          98268 non-null   object
 97  creditcd          98268 non-null   object
 98  eqpdays           99999 non-null   float64
 99  Customer_ID       100000 non-null  int64
dtypes: float64(69), int64(10), object(21)
memory usage: 76.3+ MB

- rev_Mean: Mean monthly revenue (charge amount)
- mou_Mean: Mean number of monthly minutes of use
- totmrc_Mean: Mean total monthly recurring charge
- da_Mean: Mean number of directory assisted calls
- ovrmou_Mean: Mean overage minutes of use
- ovrrev_Mean: Mean overage revenue
- vceovr_Mean: Mean revenue of voice overage
- datovr_Mean: Mean revenue of data overage
- roam_Mean: Mean number of roaming calls
- change_mou: Percentage change in monthly minutes of use vs previous three month average
- change_rev: Percentage change in monthly revenue vs previous three month average
- drop_vce_Mean: Mean number of dropped (failed) voice calls
- drop_dat_Mean: Mean number of dropped (failed) data calls
- blck_vce_Mean: Mean number of blocked (failed) voice calls
- blck_dat_Mean: Mean number of blocked (failed) data calls
- unan_vce_Mean: Mean number of unanswered voice calls
- unan_dat_Mean: Mean number of unanswered data calls
- plcd_vce_Mean: Mean number of attempted voice calls placed
- plcd_dat_Mean: Mean number of attempted data calls placed
- recv_vce_Mean: Mean number of received voice calls
- recv_sms_Mean: N
- comp_vce_Mean: Mean number of completed voice calls
- comp_dat_Mean: Mean number of completed data calls
- custcare_Mean: Mean number of customer care calls
- ccrndmou_Mean: Mean rounded minutes of use of customer care calls
- cc_mou_Mean: Mean unrounded minutes of use of customer care (see CUSTCARE_MEAN) calls
- inonemin_Mean: Mean number of inbound calls less than one minute
- threeway_Mean: Mean number of three way calls
- mou_cvce_Mean: Mean unrounded minutes of use of completed voice calls
- mou_cdat_Mean: Mean unrounded minutes of use of completed data calls
- mou_rvce_Mean: Mean unrounded minutes of use of received voice calls
- owylis_vce_Mean: Mean number of outbound wireless to wireless voice calls
- mouowylisv_Mean: Mean unrounded minutes of use of outbound wireless to wireless voice calls
- iwylis_vce_Mean: N
- mouiwylisv_Mean: Mean unrounded minutes of use of inbound wireless to wireless voice calls
- peak_vce_Mean: Mean number of inbound and outbound peak voice calls
- peak_dat_Mean: Mean number of peak data calls
- mou_peav_Mean: Mean unrounded minutes of use of peak voice calls
- mou_pead_Mean: Mean unrounded minutes of use of peak data calls
- opk_vce_Mean: Mean number of off-peak voice calls
- opk_dat_Mean: Mean number of off-peak data calls
- 42 mou_opkv_Mean: Mean unrounded minutes of use of off-peak voice calls
- 43 mou_opkd_Mean: Mean unrounded minutes of use of off-peak data calls
- 44 drop_blk_Mean: Mean number of dropped or blocked calls
- 45 attempt_Mean: Mean number of attempted calls
- 46 complete_Mean: Mean number of completed calls
- 47 callfwdv_Mean: Mean number of call forwarding calls
- 48 callwait_Mean: Mean number of call waiting calls
- 49 churn: Instance of churn between 31-60 days after observation date
- 50 months: Total number of months in service
- 51 uniqsubs: Number of unique subscribers in the household
- 52 actvsubs: Number of active subscribers in household
- 53 new_cell: New cell phone user
- 54 crclscod: Credit class code
- 55 asl_flag: Account spending limit
- 56 totcalls: Total number of calls over the life of the customer
- 57 totmou: Total minutes of use over the life of the cus
- 58 totrev: Total revenue
- 59 adjrev: Billing adjusted total revenue over the life of the customer
- 60 adjmou: Billing adjusted total minutes of use over the life of the customer
- 61 adjqty: Billing adjusted total number of calls over the life of the customer
- 62 avgrev: Average monthly revenue over the life of the customer
- 63 avgmou: Average monthly minutes of use over the life of the customer
- 64 avgqty: Average monthly number of calls over the life of the customer
- 65 avg3mou: Average monthly minutes of use over the previous three months
- 66 avg3qty: Average monthly number of calls over the previous three months
- 67 avg3rev: Average monthly revenue over the previous three months
- 68 avg6mou: Average monthly minutes of use over the previous six months
- 69 avg6qty: Average monthly number of calls over the previous six months
- 70 avg6rev: Average monthly revenue over the previous six months
- 71 prizm_social_one: Social group letter only
- 72 area: Geogrpahic area
- 73 dualband: Dualband
- 74 refurb_new: Handset: refurbished or new
- 75 hnd_price: Current handset price
- 76 phones: Number of handsets issued
- 77 models: Number of models issued
- 78 hnd_webcap: Handset web capability
- 79 truck: Truck indicator
- 80 rv: RV indicator
- 81 ownrent: Home owner/renter status
- 82 lor: Length of residence
- 83 dwlltype: Dwelling Unit type
- 84 marital: Marital Status
- 85 adults: Number of adults in household
- 86 infobase: InfoBase match
- 87 income: Estimated income
- 88 numbcars: Known number of vehicles
- 89 HHstatin: Premier household status indicator
- 90 dwllsize: Dwelling size
- 91 forgntvl: Foreign travel dummy variable
- 92 ethnic: Ethnicity roll-up code
- 93 kid0_2: Child 0 - 2 years of age in household
- 94 kid3_5: Child 3 - 5 years of age in household
- 95 kid6_10: Child 6 - 10 years of age in household
- 96 kid11_15: Child 11 - 15 years of age in household
- 97 kid16_17: Child 16 - 17 years of age in household
- 98 creditcd: Credit card indicator
- 99 eqpdays: Number of days (age) of current equipment
- 100 Customer_ID: N

In [4]:
df['churn'].value_counts()

0    50438
1    49562
Name: churn, dtype: int64

# 2. Data Cleaning

## 2.1. Drop Features with only 1 unique value

In [5]:
un = []
for cols in df.columns:
    if df[cols].nunique()==1:
        un.append(cols)
    else:
        pass

df = df.drop(un,axis=1)

In [6]:
df.shape

(100000, 100)

## 2.2. Missing Value Handling

consider the numerical features that are actually categorical

### Removing Columns whose values are all missing

In [7]:
df = df.dropna(axis='columns', how='all')

### Filling missing value in categorical and numerical data

In [8]:
df.isnull().sum()

rev_Mean        357
mou_Mean        357
totmrc_Mean     357
da_Mean         357
ovrmou_Mean     357
               ...
kid11_15       1732
kid16_17       1732
creditcd       1732
eqpdays           1
Customer_ID       0
Length: 100, dtype: int64

**Categorical**

In [9]:
# set containing categorical features
p = set(df.select_dtypes(include=['object','category']).columns)

In [10]:
# set containing features with null value
q= set(df.columns[df.isnull().any()])

In [11]:
# Intersections between them to get categorical features which contain missing value
r = list(p&q)
r

['kid3_5',
 'infobase',
 'dwlltype',
 'kid0_2',
 'marital',
 'ownrent',
 'dwllsize',
 'kid6_10',
 'kid16_17',
 'refurb_new',
 'ethnic',
 'creditcd',
 'kid11_15',
 'area',
 'prizm_social_one',
 'dualband',
 'hnd_webcap',
 'HHstatin']

In [12]:
## Filling missing value with their mode
for cat_col in r:
    df[cat_col]=df[cat_col].fillna(df[cat_col].mode()[0])

print('Missing value left in categorical features : \n',df.select_dtypes(include=['object','category']).isnull().sum().sum())

Missing value left in categorical features :
 0

**Numerical**

In [13]:
# To get numerical features which contain missing value
v = p&q
h = list(q-v)

In [14]:
# We see our numerical missing value
df[h].isnull().sum()

da_Mean          357
phones             1
adults         23019
change_mou       891
change_rev       891
avg6qty         2839
truck           1732
lor            30190
eqpdays            1
rv              1732
income         25436
ovrmou_Mean      357
mou_Mean         357
avg6mou         2839
hnd_price        847
datovr_Mean      357
totmrc_Mean      357
rev_Mean         357
forgntvl        1732
ovrrev_Mean      357
roam_Mean        357
avg6rev         2839
numbcars       49366
models             1
vceovr_Mean      357
dtype: int64

In [15]:
## Filling missing value with their mean
for num_col in h:
    df[num_col]=df[num_col].fillna(value = df[num_col].mean())
    
print('Missing value left in numerical features : \n',df[h].isnull().sum().sum())

Missing value left in numerical features :
 0

## 2.3. Removing Duplicate Customer_ID

### We don't want the presence of two similar customer data in our dataset. So we will drop it.

In [16]:
df = df.drop_duplicates(subset='Customer_ID', keep='first')
df.shape

(100000, 100)

### Okay it's good that our data does not contain duplicate customers' informations.

# 3. Exploratory Data Analysis (EDA)

## 3.1. Basic Analysis

In [18]:
df.head()

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,change_rev,drop_vce_Mean,drop_dat_Mean,blck_vce_Mean,blck_dat_Mean,unan_vce_Mean,unan_dat_Mean,plcd_vce_Mean,plcd_dat_Mean,recv_vce_Mean,recv_sms_Mean,comp_vce_Mean,comp_dat_Mean,custcare_Mean,ccrndmou_Mean,cc_mou_Mean,inonemin_Mean,threeway_Mean,mou_cvce_Mean,mou_cdat_Mean,mou_rvce_Mean,owylis_vce_Mean,mouowylisv_Mean,iwylis_vce_Mean,mouiwylisv_Mean,peak_vce_Mean,peak_dat_Mean,mou_peav_Mean,mou_pead_Mean,opk_vce_Mean,opk_dat_Mean,mou_opkv_Mean,mou_opkd_Mean,drop_blk_Mean,attempt_Mean,complete_Mean,callfwdv_Mean,callwait_Mean,churn,months,uniqsubs,actvsubs,new_cell,crclscod,asl_flag,totcalls,totmou,totrev,adjrev,adjmou,adjqty,avgrev,avgmou,avgqty,avg3mou,avg3qty,avg3rev,avg6mou,avg6qty,avg6rev,prizm_social_one,area,dualband,refurb_new,hnd_price,phones,models,hnd_webcap,truck,rv,ownrent,lor,dwlltype,marital,adults,infobase,income,numbcars,HHstatin,dwllsize,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,Customer_ID
0,23.9975,219.25,22.500,0.2475,0.00,0.0,0.0,0.0,0.0,-157.25,-18.9975,0.666667,0.0,0.666667,0.0,6.333333,0.0,52.333333,0.0,42.333333,0.0,45.000000,0.0,0.000000,0.000000,0.000000,18.000000,0.000000,90.643333,0.0,97.176667,0.000000,0.000000,0.000000,0.000000,58.000000,0.0,132.600000,0.0,24.000000,0.0,55.220000,0.0,1.333333,52.333333,45.000000,0.0,0.333333,1,61,2,1,U,A,N,1652,4228.00000,1504.62,1453.44,4085.00,1602,29.66,83.37,32.69,272,116,30,322.0,136.0,38.0,S,NORTHWEST/ROCKY MOUNTAIN AREA,Y,N,149.989990,2.0,2.0,WCMB,0.0,0.0,O,15.0,S,S,1.0,M,4.0,3.0,C,A,0.0,N,U,U,U,U,U,Y,361.0,1000001
1,57.4925,482.75,37.425,0.2475,22.75,9.1,9.1,0.0,0.0,532.25,50.9875,8.333333,0.0,1.000000,0.0,61.333333,0.0,263.333333,0.0,69.000000,0.0,193.333333,0.0,1.666667,6.333333,5.463333,53.000000,0.333333,189.396667,0.0,55.280000,46.333333,24.216667,6.333333,3.696667,83.666667,0.0,75.333333,0.0,157.000000,0.0,169.343333,0.0,9.333333,263.333333,193.333333,0.0,5.666667,0,56,1,1,N,EA,N,14654,26400.00000,2851.68,2833.88,26367.00,14624,51.53,479.40,265.89,305,158,40,477.0,275.0,48.0,U,CHICAGO AREA,N,N,101.875763,7.0,6.0,WC,1.0,1.0,O,1.0,S,S,1.0,M,5.0,1.0,C,A,0.0,Z,U,U,U,U,U,Y,240.0,1000002
2,16.9900,10.25,16.990,0.0000,0.00,0.0,0.0,0.0,0.0,-4.25,0.0000,0.333333,0.0,0.000000,0.0,2.666667,0.0,9.000000,0.0,0.333333,0.0,6.000000,0.0,0.000000,0.000000,0.000000,0.333333,0.000000,5.426667,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.0,5.193333,0.0,1.000000,0.0,0.233333,0.0,0.333333,9.000000,6.000000,0.0,0.000000,1,58,1,1,Y,C,N,7903,24385.05333,2155.91,1934.47,24303.05,7888,34.54,433.98,140.86,12,7,17,11.0,6.0,17.0,S,GREAT LAKES AREA,N,N,29.989990,2.0,1.0,WCMB,0.0,0.0,O,7.0,S,M,2.0,M,5.0,2.0,C,A,0.0,N,U,Y,U,U,U,Y,1504.0,1000003
3,38.0000,7.50,38.000,0.0000,0.00,0.0,0.0,0.0,0.0,-1.50,0.0000,0.000000,0.0,0.000000,0.0,0.000000,0.0,3.666667,0.0,1.333333,0.0,3.666667,0.0,0.000000,0.000000,0.000000,1.333333,0.000000,8.410000,0.0,0.413333,0.333333,0.256667,0.000000,0.000000,1.333333,0.0,3.380000,0.0,3.666667,0.0,5.450000,0.0,0.000000,3.666667,3.666667,0.0,0.000000,0,60,1,1,Y,B,N,1502,3065.00000,2000.90,1941.81,3035.00,1479,40.45,63.23,30.81,8,3,38,50.0,25.0,40.0,T,CHICAGO AREA,N,N,29.989990,1.0,1.0,WCMB,0.0,0.0,O,6.0,M,M,4.0,M,6.0,1.0,C,D,0.0,U,Y,U,U,U,U,Y,1812.0,1000004
4,55.2300,570.50,71.980,0.0000,0.00,0.0,0.0,0.0,0.0,38.50,0.0000,9.666667,0.0,0.666667,0.0,77.000000,0.0,222.333333,0.0,94.666667,0.0,137.000000,0.0,8.666667,15.000000,11.076667,66.000000,0.000000,285.233333,0.0,106.330000,14.666667,10.816667,0.666667,0.366667,97.333333,0.0,173.476667,0.0,90.333333,0.0,218.086667,0.0,10.333333,222.333333,137.000000,0.0,0.000000,0,57,1,1,Y,A,N,4485,14028.00000,2181.12,2166.48,13965.00,4452,38.69,249.38,79.50,558,191,55,586.0,196.0,80.0,U,NEW ENGLAND AREA,Y,N,149.989990,6.0,4.0,WCMB,0.0,0.0,R,5.0,M,S,1.0,M,6.0,1.0,C,O,0.0,I,U,U,U,U,U,Y,434.0,1000005

Main features to analysis:
+ hnd price (Current handset price)
+ refurb_new (Refurbish of new)
+ Months (Total number of months in service)
+ totcalls (Total number of calls over the life of the customer)
+ totmou (Total minutes of use over the life of the customer)
+ area
+ adults (Number of adults in household)
+ marital
+ dwllsize (Dwelling size)
+ creditcd (Credit card indicator)
+ eqpdays