https://www.kaggle.com/mrdaniilak/russia-real-estate-20182021

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('/Users/danielbeltsazar/DS-ML-DL Mini Projects/Real Estate Price/all_v2.csv')
df.head()

,price,date,time,geo_lat,geo_lon,region,building_type,level,levels,rooms,area,kitchen_area,object_type
0,6050000,2018-02-19,20:00:21,59.805808,30.376141,2661,1,8,10,3,82.6,10.8,1
1,8650000,2018-02-27,12:04:54,55.683807,37.297405,81,3,5,24,2,69.1,12.0,1
2,4000000,2018-02-28,15:44:00,56.295250,44.061637,2871,1,5,9,3,66.0,10.0,1
3,1850000,2018-03-01,11:24:52,44.996132,39.074783,2843,4,12,16,2,38.0,5.0,11
4,5450000,2018-03-01,17:42:43,55.918767,37.984642,81,3,13,14,2,60.0,10.0,1

The dataset has 13 fields.

1. date - date of publication of the announcement;
2. time - the time when the ad was published;
3. geo_lat - Latitude
4. geo_lon - Longitude
5. region - Region of Russia. There are 85 subjects in the country in total.
6. building_type - Facade type. 0 - Other. 1 - Panel. 2 - Monolithic. 3 - Brick. 4 - Blocky. 5 - Wooden
7. object_type - Apartment type. 1 - Secondary real estate market; 2 - New building;
8. level - Apartment floor
9. levels - Number of storeys
10. rooms - the number of living rooms. If the value is "-1", then it means "studio apartment"
11. area - the total area of the apartment
12. kitchen_area - Kitchen area
13. price - Price. in rubles

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5477006 entries, 0 to 5477005
Data columns (total 13 columns):
 #   Column         Dtype
---  ------         -----
 0   price          int64
 1   date           object
 2   time           object
 3   geo_lat        float64
 4   geo_lon        float64
 5   region         int64
 6   building_type  int64
 7   level          int64
 8   levels         int64
 9   rooms          int64
 10  area           float64
 11  kitchen_area   float64
 12  object_type    int64
dtypes: float64(4), int64(7), object(2)
memory usage: 543.2+ MB

In [4]:
df.describe()

,price,geo_lat,geo_lon,region,building_type,level,levels,rooms,area,kitchen_area,object_type
count,5.477006e+06,5.477006e+06,5.477006e+06,5.477006e+06,5.477006e+06,5.477006e+06,5.477006e+06,5.477006e+06,5.477006e+06,5.477006e+06,5.477006e+06
mean,4.422029e+06,5.403826e+01,5.324433e+01,4.307141e+03,1.948966e+00,6.214530e+00,1.139892e+01,1.726173e+00,5.391825e+01,1.062840e+01,3.945399e+00
std,2.150752e+07,4.622758e+00,2.074763e+01,3.308050e+03,1.038537e+00,4.957419e+00,6.535734e+00,1.082133e+00,3.335293e+01,9.792380e+00,4.558357e+00
min,-2.144967e+09,4.145906e+01,1.989020e+01,3.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-2.000000e+00,7.000000e-02,1.000000e-02,1.000000e+00
25%,1.950000e+06,5.337768e+01,3.777790e+01,2.661000e+03,1.000000e+00,2.000000e+00,5.000000e+00,1.000000e+00,3.800000e+01,7.000000e+00,1.000000e+00
50%,2.990000e+06,5.517139e+01,4.306774e+01,2.922000e+03,2.000000e+00,5.000000e+00,1.000000e+01,2.000000e+00,4.802000e+01,9.700000e+00,1.000000e+00
75%,4.802000e+06,5.622613e+01,6.564895e+01,6.171000e+03,3.000000e+00,9.000000e+00,1.600000e+01,2.000000e+00,6.313000e+01,1.270000e+01,1.100000e+01
max,2.147484e+09,7.198040e+01,1.625361e+02,6.188800e+04,5.000000e+00,3.900000e+01,3.900000e+01,1.000000e+01,7.856000e+03,9.999000e+03,1.100000e+01

In [5]:
df.isnull().sum()

price            0
date             0
time             0
geo_lat          0
geo_lon          0
region           0
building_type    0
level            0
levels           0
rooms            0
area             0
kitchen_area     0
object_type      0
dtype: int64

The dataset has 13 fields.

1. date - date of publication of the announcement;
2. time - the time when the ad was published;
3. geo_lat - Latitude
4. geo_lon - Longitude
5. region - Region of Russia. There are 85 subjects in the country in total.
6. building_type - Facade type. 0 - Other. 1 - Panel. 2 - Monolithic. 3 - Brick. 4 - Blocky. 5 - Wooden
7. object_type - Apartment type. 1 - Secondary real estate market; 2 - New building;
8. level - Apartment floor
9. levels - Number of storeys
10. rooms - the number of living rooms. If the value is "-1", then it means "studio apartment"
11. area - the total area of the apartment
12. kitchen_area - Kitchen area
13. price - Price. in rubles

### Re-encode

In [6]:
df_real = df.copy()

In [7]:
df_real['building_type']= df_real['building_type'].replace([0,1,2,3,4,5],['Other','Panel','Monolithic','Brick','Blocky','Wooden'])
df_real['object_type']= df_real['object_type'].replace([1,2,11],['Secondary Real Estate','New Building','Other(Unknown)'])
df_real['date']=pd.to_datetime(df_real['date'])
df_real['time']=pd.to_datetime(df_real['time'])
df_real['price']=df_real['price']/1000000
df_real = df_real.rename(columns={'price':'price (Million)'})

In [8]:
df_real.head()

,price (Million),date,time,geo_lat,geo_lon,region,building_type,level,levels,rooms,area,kitchen_area,object_type
0,6.05,2018-02-19,2022-03-05 20:00:21,59.805808,30.376141,2661,Panel,8,10,3,82.6,10.8,Secondary Real Estate
1,8.65,2018-02-27,2022-03-05 12:04:54,55.683807,37.297405,81,Brick,5,24,2,69.1,12.0,Secondary Real Estate
2,4.00,2018-02-28,2022-03-05 15:44:00,56.295250,44.061637,2871,Panel,5,9,3,66.0,10.0,Secondary Real Estate
3,1.85,2018-03-01,2022-03-05 11:24:52,44.996132,39.074783,2843,Blocky,12,16,2,38.0,5.0,Other(Unknown)
4,5.45,2018-03-01,2022-03-05 17:42:43,55.918767,37.984642,81,Brick,13,14,2,60.0,10.0,Secondary Real Estate

In [9]:
df_real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5477006 entries, 0 to 5477005
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   price (Million)  float64
 1   date             datetime64[ns]
 2   time             datetime64[ns]
 3   geo_lat          float64
 4   geo_lon          float64
 5   region           int64
 6   building_type    object
 7   level            int64
 8   levels           int64
 9   rooms            int64
 10  area             float64
 11  kitchen_area     float64
 12  object_type      object
dtypes: datetime64[ns](2), float64(5), int64(4), object(2)
memory usage: 543.2+ MB

In [11]:
df_real.groupby(['building_type'])['price (Million)'].mean()

building_type
Blocky        3.988476
Brick         4.017795
Monolithic    7.084502
Other         5.186450
Panel         3.208655
Wooden        2.482502
Name: price (Million), dtype: float64

In [13]:
df_real.groupby(['building_type'])['price (Million)'].max()

building_type
Blocky        2083.290000
Brick         2147.483647
Monolithic    2089.477704
Other         2147.483647
Panel         1990.000000
Wooden        1200.000000
Name: price (Million), dtype: float64

In [14]:
df_real.groupby(['building_type'])['price (Million)'].min()

building_type
Blocky       -1244.967296
Brick        -2114.967296
Monolithic   -2089.967296
Other        -1964.967296
Panel        -2144.967296
Wooden       -1794.967296
Name: price (Million), dtype: float64

In [15]:
df_real.groupby(['building_type'])['price (Million)'].agg(['mean','max','min'])

                   mean          max          min
building_type
Blocky         3.988476  2083.290000 -1244.967296
Brick          4.017795  2147.483647 -2114.967296
Monolithic     7.084502  2089.477704 -2089.967296
Other          5.186450  2147.483647 -1964.967296
Panel          3.208655  1990.000000 -2144.967296
Wooden         2.482502  1200.000000 -1794.967296

In [12]:
df_real.groupby(['object_type'])['price (Million)'].mean()

object_type
Other(Unknown)           4.638323
Secondary Real Estate    4.331723
Name: price (Million), dtype: float64

## Next task : Remove negative values for price feature